.clients-item{
    width: 170px;
    height: 92px;
    border: solid 1px var(--icon-color);
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
    border-color: var(--major-color);
    }

    &:not(:last-child){
    margin-right: 30px;
    }
}

