.container{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;

    outline: 1px solid palevioletred;
}

@media screen and (min-wdth: 480px){
    width: 480px;
}

@media screen and (min-wdth: 768px){
    width: 768px;
}

@media screen and (min-wdth: 1200px){
    width: 1200px;
}