:root{
    --header-color:#212121;
    --description-color:#757575;
    --major-color: #2196f3;
    --hub-color: #ffffff;
    --button-hover-color:#188CE8;
    --background-filler-color:#2F303A;
    --background-color: #ffffff;
    --icon-color: #AFB1B8;
}