.pros-list{
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}

.pros-list-item{
    flex-basis: calc(100%/4 - 30px);
    margin-left: 30px;
    margin-top: 30px;
}

.pros-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding: 25px 100px 25px 100px;
    background-color: #F5F4FA;
}

.pros-section{
padding-bottom: 0;
}

.pros-header{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.pros-description{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--description-color);
}